<div class="container">

  <h3> Login / Create Account </h3>

  <form action="/login" method="post">
  	<fieldset>
    <legend> Login </legend>
    <p><input type="text" name="username" placeholder="Username"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <input type="submit" value="Login">
	</fieldset>
  </form>

  <br>

  <form action="/signup" method="post">
  	<fieldset>
    <legend> Create Account </legend>
    <p><input type="text" name="username" placeholder="Username"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <input type="submit" value="Create Account">
	</fieldset>
  </form>
  
 </div>
