<div class="container">

  <h3> Submit </h3>

  <form action="/submit" method="post">
  	
    <p>title <input type="text" name="post_title"></p>
    <p>url <input type="text" name="post_link" ></p>
    <p>or</p>
    <p>text <textarea rows="4"  name="post_text">
    </textarea></p>
    <p><input type="submit" value="Submit"></p>
	
  </form>
  
</div>